@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: Raleway;
    margin:0;
    padding:0;
    font-family: Raleway;
}

h1{
    color: hotpink; /* Giver alle <h1>-elementer en hotpink (lys pink) tekstfarve */
    font-weight: 100; /* Sætter tyngden af skriften i <h1> til 100, hvilket er meget tynd skrift */
}

.page{
    position: fixed; /* Fikserer .page-elementet i forhold til vinduet, så det forbliver på samme position, selv når man scroller */
    width: 100vw; /* Sætter bredden af .page-elementet til 100% af viewportens bredde (hele bredden af browser-vinduet) */
    height: 100vh; /* Sætter højden af .page-elementet til 100% af viewportens højde (hele højden af browser-vinduet) */
    overflow: hidden; /* Skjuler alt indhold, der rækker ud over .page-elementets grænser */
    display: grid; /* Indstiller .page-elementet som en grid-container, så dens børn kan placeres i et gitter */
    place-items: center; /* Centrerer alle børn af .page-elementet både vandret og lodret i gitteret */
    left: -100vw; /* Flytter .page-elementet uden for skærmen mod venstre, lige så langt som skærmens bredde (100% af viewportens bredde) */
    transition: all 1s ease-in-out;
}
.visible{
    left:0;
}


/* Unikke baggrundsfarver for hver side */
#page1 {
    background-color: lightblue; /* Side 1 baggrundsfarve */
}

#page2 {
    background-color: lightseagreen; /* Side 2 baggrundsfarve */
}

#page3 {
    background-color: lightgoldenrodyellow; /* Side 3 baggrundsfarve */
}


.box{
    position:relative;
    width:80%;
    height:80%;
    display:grid;
    place-items:center;    
    border:1px solid whitesmoke;
    padding:2rem;
}

.page .box{
    border-radius: 1rem;
}

.fixed{
    position:fixed;
    right:2rem;
    bottom:2rem;
}
.absolute{
    position:absolute;
    right:2rem;
    top:2rem;
}

